{% load sass_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anime Collector</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% sass_src 'css/main.scss' %}" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </head>
  <body>
    <header class="navbar-fixed ">
      <!-- Anime Dropdown -->
      <ul id="anime_dropdown" class="dropdown-content">
        <li><a href="{% url 'index' %}">All Anime</a></li>
        <li><a href="{% url 'anime_create' %}">Add Anime</a></li>
      </ul>
      <!-- Voice Actor Dropdown -->
      <ul id="voice_dropdown" class="dropdown-content">
        <li><a href="{% url 'voice_actor_index'%}">All Voice Actors</a></li>
        <li><a href="{% url 'voice_actor_create'%}">Add Actors</a></li>
      </ul>
      <!-- Studio Dropdown -->
      <ul id="studio_dropdown" class="dropdown-content">
        <li><a href="{% url 'studio_index'%}">All Studios</a></li>
        <li><a href="{% url 'studio_create'%}">Add Studios</a></li>
      </ul>
      <nav>
        <div class="nav-wrapper">
          <a href="{% url 'home' %}" class="brand-logo" id="logo">Anime Collector</a>
          <ul class="right hide-on-med-and-down">
            <li><a class="dropdown-trigger" href="{% url 'index' %}" data-target="anime_dropdown">Anime<i class="material-icons right">arrow_drop_down</i></a></li>
            <li><a class="dropdown-trigger" href="#!" data-target="voice_dropdown">Voice Actors<i class="material-icons right">arrow_drop_down</i></a></li>
            <li><a class="dropdown-trigger" href="#!" data-target="studio_dropdown">Studios<i class="material-icons right">arrow_drop_down</i></a></li>
          </ul>
        </div>
      </nav>
    </header>
    <main class="container">{% block content %} {% endblock %}</main>
    <footer id='footer-nav' class="page-footer">
      <div class="right">
        All Rights Reserved, &copy; 2022 Anime Collection &nbsp;
      </div>
    </footer>
  </body>
  <script>
    $( document ).ready(() => {
      $(".dropdown-trigger").dropdown();
    })
  </script>
  </html>